*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
body{
    padding: 0 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.intro{
    margin: 20px 0;
    width: 100%;
}
.intro h2{
    margin: 10% 0 5%;
    color:  hsl(0, 0%, 59%);
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
}
h2 span{
    font-weight: 700;
    color:  hsl(209, 33%, 12%);
}
p{
    font-size: 12px;
}
.logo{
    display: inline-block;
    width: 20%;
}
.illustration{
    width: 100%;
}
form{
    margin-top:40px ;
    width: 100%;
}
.box{
    width: 100%;
    border-radius: 20px;
    padding: 10px 30px;
    border: 0;
}
.box.success{
    border: 1px solid hsl(223, 87%, 63%);
    text-align: left;
}
.box.error{
    border: 1px solid hsl(354, 100%, 66%);
}
.box:focus{
    outline: none;
}
.btn{
    background-color: hsl(223, 87%, 63%) ;
    color: white;
    font-weight: 600;
}
.error-message{
    color:  hsl(354, 100%, 66%);
    margin:5px 0 15px;
    transition: all 0.5s ease;
    font-size: 12px;
}
footer i{
    color: hsl(223, 87%, 63%);
    border: 1px solid  hsl(223, 87%, 63%);
    border-radius: 50%;
    margin: 0px 8px;
}
footer i:hover{
    color: white;
    background-color:hsl(223, 87%, 63%) ;
}
.fa-facebook-f{
    padding: 13px 16px;
}
.fa-twitter{
    padding: 13px;
}
.fa-instagram{
    padding: 13px 14px;
}
.links{
    margin: 15px;
}

@media only screen and (min-width:1000px){

    body{
        height: 100%;
    }
    .logo{
        width: 10%;
    }
    .main{
        padding: 0px 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .intro{
        position: relative;
        padding-bottom: 30px;
    }
    .intro h2{
        margin: 5% 0% 2%;
        font-size: 2.5rem;
    }
    .intro p{
        font-size: 1rem;
    }
    form{
        display: flex;
        width: 100%;
    }
    .box{
        padding: 15px 30px;
        border-radius: 50px;
        
    }
    .box.error{
        border: 1px solid hsl(354, 100%, 66%);
    }
    input{
        width:200% !important;
        text-align: left;
        margin-right: 10px;
    }
    .error-message{
        position: absolute;
        bottom:-5px;
        left: 30px;
    }

}